<% foundation_alerts = { notice: 'success',
                            alert: 'standard',
                            error: 'alert',
                            secondary: 'secondary'
} %>

<% if flash %>
  <% flash.each do |type, message| %>
    <div data-alert class="alert-box <%= foundation_alerts[type] %> radius">
      <%= message %>
      <%= link_to "x", "#", class: "close" %>
    </div>
  <% end %>
<% end %>

